{% extends 'admin/layout.html.twig' %}
{% block title %}Tous les Ateliers{% endblock title %}

{% block admin_content %}








    <div class="container" id="admin-all-ateliers">
        <h1 class="text-center">Atelier</h1>

    {{ form_start(form) }}
    {{ form_row(form.search, {
        'label': false,
        'required': false,
        'attr': { 'placeholder': 'Rechercher' }
    }) }}
    {{ form_end(form) }}

    <table class="table table-hover">
        <thead class="thead-responsive">
        <tr class="row">
            <th class="col-md">Atelier</th>
            <th class="col-md">Description</th>
            <th class="col-md">Prix</th>
        </tr>
        </thead>
        {% if ateliersweets is not empty %}
            {% for atelier in ateliersweets %}
                <tr class="row tr-link" data-href="{{ path('admin_atelier-editor', {'id': atelier.id }) }}">
                    <td class="col-md">
                        <div class="row">
                            <div class="col-md">
                                {% if atelier.imagess is not empty %}
                                    {% set thumb = atelier.imagess | first %}
                                    <img src="/img/upload/{{ thumb.name }}" alt="{{ thumb.description  }}" class="img img-fluid">
                                {% else %}
                                    <img src="http://www.bagherra.eu/wp-content/uploads/2016/11/orionthemes-placeholder-image-1.png"
                                         alt="under construction" class="img img-fluid">
                                {% endif %}
                            </div>
                            <div class="col-md">
                                {{ atelier.name }}
                            </div>
                        </div>
                    </td>
                    <td class="col-md">{{ atelier.description }}</td>
                    <td class="col-md">{{ atelier.price }}€</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>Aucun résultat</td>
            </tr>
        {% endif %}
    </table>

    <nav class="mt-4">
        <ul class="pagination">
            {% if current_page == 1 %}
                <li class="page-item disabled">
                    <span class="page-link">Précédent</span>
                </li>
            {% else %}
                <a href="{{ path('admin_atelier-index', {'page': current_page - 1 }) }}" class="page-link">Précédent</a>
            {% endif %}

            {% for p in 1..total_pages %}
                {% if p == current_page %}
                    <li class="page-item active">
                        <a href="{{ path('admin_atelier-index', {'page': p }) }}" class="page-link">{{ p }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="{{ path('admin_atelier-index', {'page': p }) }}" class="page-link">{{ p }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if current_page == total_pages %}
                <li class="page-item disabled">
                    <span class="page-link">Suivant</span>
                </li>
            {% else %}
                <a href="{{ path('admin_atelier-index', {'page': current_page + 1 }) }}" class="page-link">Suivant</a>
            {% endif %}
        </ul>
    </nav>

    </div>

{% endblock %}

{% block javascripts %}
    <script src="/js/allProducts.js"></script>
{% endblock %}
