{% extends 'admin/layout.html.twig' %}
{% block title %}Administration{% endblock title %}


{% block admin_content %}

    <div id="background" class="carousel slide carousel-fade background" data-ride="carousel">
        <div id="text" class="col-md-12 text-center"></div>
        <!-- div vide pour texte qui apparait avec chaque slide
        dans carousel -->

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{{ asset('img/46.jpg') }}" alt="First slide">
            </div>

            <div class="carousel-item">
                <div class="carousel-caption">
                   {# <h4>Breaking bread</h4>
                    <h3>Le bonheur de la pâtisserie</h3>
                    <p>Nulla a pharetra mollis interdum.a pharetra augue mollis interdum.<br>Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit. Quidem, suscipit!</p>#}
                    <button class="btn btn-dark">Acheter</button>
                </div>

                <video class="video-fluid w-100" autoplay loop muted>
                    <source src="{{ asset('video/Macaron.mp4') }}" type="video/mp4"/>
                </video>

                <!--  <img class="d-block w-100" src="images/53.jpg" alt="Second slide"> -->
            </div>


            <div class="carousel-item">
                <div class="carousel-caption col-md-12 text-center">
                    {#<h4>Breaking bread</h4>
                    <h3>Des spécialités délicieuses</h3>
                    <p>Nulla libero, a pharetra augue mollis interdum. adipisicing <br>Lorem ipsum dolor sit amet, ci ab
                        lausa vit hm alias. consectetur adipisicing elit. Quidem, suscipit!</p>
                    <button class="btn btn-dark">Acheter</button>#}
                </div>
                <img class="d-block w-100" src="{{ asset('img/54.jpg') }}" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



    <div class="container text-center" id="admin-page">
        <section id="admin-page-section-1">
                <h2>Administration</h2>
                <p>{{ product_rows }} produits en vente</p>
                <p>{{ total_revenue }} € de chiffre d'affaires</p>
        </section>

    </div>
{% endblock %}
