{% extends 'admin/layout.html.twig' %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}

    <div class="container" id="product-editor">

        <h1 class="text-center mt-4">{{ title }}</h1>


    {{ form_start(form) }}
        {{ form_row(form.name, {
            'label': 'Nom',
        }) }}
        {{ form_row(form.description, {
            'label': 'Description',
        }) }}
        {{ form_row(form.category, {
            'label': 'Catégorie',
        }) }}
        {{ form_row(form.stock, {
            'label': 'Stock',
        }) }}
        {{ form_row(form.price, {
            'label': 'Prix',
        }) }}
        {{ form_row(form.weight, {
            'label': 'Poids',
        }) }}

        <div class="text-center">
            <h3>Images</h3>
        </div>


        <!-- IMAGE -->
        <div class="container" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">

            {% for image in form.images %}
                <div class="col-md-12">
                    <img src="/img/upload/{{ image.vars.value.name }}" alt="" class="img img-fluid">



                    <div>{{ form_row(image.description) }}</div>
                    <div>{{ form_row(image.file, {
                        'label': false,
                        'required': false,
                        'attr': {
                            'accept': 'image/*',
                        }
                    }) }}</div>

            {% endfor %}
            {% if form.images|length < 3 %}
                <div class="col-md-4 add-image-container">
                    <div class="">
                        <i class="far fa-plus-square"></i>
                    </div>
                </div>
            {% endif %}
        </div>

                <button class="btn btn-primary">
                    valider
                </button>

            <!-- button supprimer -->
            {% if form.vars.data.id is not empty %}
                <a href="{{ path('admin_product-delete', {'id': form.vars.data.id }) }}" class="delete-product btn btn-danger ml-md-4">Supprimer</a>
                <!-- pour supprimer un produit, on met path admin_product-delete. Function dans ProductController.php -->
            {% endif %}
        </div>
    {{ form_end(form) }}
        </div>

{% endblock %}
