{% extends 'shop/layout.html.twig' %}
{% block title %}Lovin Sweet{% endblock title %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/style2.css') }}"/>
{% endblock %}


{% block content %}


    <div id="background" class="carousel slide carousel-fade background" data-ride="carousel">
        <div id="text" class="col-md-12 text-center"></div>
        <!-- div vide pour texte qui apparait avec chaque slide
        dans carousel -->

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{{ asset('img/46.jpg') }}" alt="First slide">
            </div>
            <video class="video-fluid w-100" autoplay loop muted>
                <source src="{{ asset('video/Macaron.mp4') }}" type="video/mp4"/>
            </video>
        </div>
    </div>
    </div>

    <!--  SECTION 1 ATELIERS -->
    <div class="container-fluid" id="section-1-atelier">
        <section class="container text-center">
            <div class="row">
                {% for ateliers in all_ateliers %}
                    <div class="col-md-4">
                        <a href="/ateliersweet/{{ ateliers.slug }}">
                        <span class="overlay-container">
                          <img class="img-fluid" src="img/28.jpg">
                          <span class="overlay-background">
                            <span class="see-more">
                              <span class="see-more-btn">
                                <span class="hidden">Réserver un atelier</span>
                              </span>
                            </span>
                          </span>
                            <ul>
                               <span class="link-name">
                                   <li class="text-center">
                                       <h3>{{ ateliers.name }}</h3>
                                   </li>
                               </span>
                                    <span class="link-name">
                                       <li class="text-center">{{ ateliers.description }}</li>
                            </ul>
                                </span>
                            </span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </section>

    </div>



{% endblock %}




{% block footer %}



{% endblock %}


{% block javascript_final %}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}


