{% extends 'shop/layout.html.twig' %}
{% block title %}Lovin Sweet{% endblock title %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/style2.css') }}"/>
{% endblock %}


{% block content %}

    <div id="background" class="carousel slide carousel-fade background" data-ride="carousel">
        <div id="text" class="col-md-12 text-center"></div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{{ asset('img/46.jpg') }}" alt="First slide">
            </div>
            <div class="carousel-item">
                <video class="video-fluid w-100" autoplay loop muted>
                    <source src="{{ asset('video/Macaron.mp4') }}" type="video/mp4"/>
                </video>

            </div>
        </div>
    </div>

    <!--  SECTION 1 ATELIERS -->
    <div class="container-fluid" id="section-1-all-products">
        <section class="container text-center">
            <div class="row">
                {% for product in allProducts %}
                    <div class="col-md-4">
                        <div class="all-products-block">
                            {% set thumb = product.images|first %}
                            <div class="image-container">
                                <a href="/product/{{ product.slug }}">
                                    <img src="/img/upload/{{ thumb.name }}" alt="{{ thumb.description }}"
                                         class="product-card__image img img-fluid">
                                </a>
                            </div>
                            <div class="all-products-text-block">
                                <a href="/product/{{ product.slug }}" class="product-card__link">
                                    {{ product.name }}
                                </a>
                                <p class="">{{ product.description }}</p>
                                <p class="">{{ product.price }} €</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>

{% endblock %}


{% block footer %}


{% endblock %}


{% block javascript_final %}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}


