{% extends 'shop/layout.html.twig' %}
{% block title %}Lovin Sweet{% endblock title %}


{% block content %}


    <div id="background" class="carousel slide carousel-fade background" data-ride="carousel">
        <div id="text" class="col-md-12 text-center"></div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{{ asset('img/46.jpg') }}" alt="First slide">
            </div>
            <div class="carousel-item">
                <video class="video-fluid w-100" autoplay loop muted>
                    <source src="{{ asset('video/Macaron.mp4') }}" type="video/mp4"/>
                </video>
                <!--  <img class="d-block w-100" src="images/53.jpg" alt="Second slide"> -->
            </div>
            <img class="d-block w-100" src="{{ asset('img/54.jpg') }}" alt="Third slide">
        </div>
    </div>
    </div>
    <div class="container" id="single-atelier-block">
        <div class="row">
            <div class="col-md-4">
                <h2 class="text-center">{{ ateliersweet.name }} </h2>
                <div>
                    <div class="text-center">
                        <a class="text-center toggle" href="#">Description</a>
                    </div>
                    <p class="toggle-atelier-description text-center">
                        {{ ateliersweet.description }}
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                {% set cover = ateliersweet.imagess|first %}
                <div class="">
                    <img src="/imgs/upload/{{ cover.name }}" alt="{{ cover.description }}"
                         class="img img-fluid product-single__image">
                </div>
                {% if ateliersweet.imagess.count > 1 %}
                    {% for image in ateliersweet.imagess %}
                        <div class="mr-2 image-container w-25">
                            <img src="/imgs/upload/{{ image.name }}" alt="{{ image.description }}"
                                 class="img img-fluid product-single__image">
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-4">
                <div>Prix: {{ ateliersweet.price }} €</div>
                <div>Date de création: {{ ateliersweet.dateCreated | date }}</div>
            </div>

        </div>
    </div>
{% endblock %}


{% block footer %}

{% endblock %}

{% block javascript_final %}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}


