{% extends 'shop/layout.html.twig' %}
{% block title %}Panier{% endblock %}

{% block content %}

    <div class="container client-section">
        <h1 class="text-center welcome">Mon panier</h1>

        <!-- Si le panier est vide, on l'affiche au client -->
        {% if products is empty %}
            <div class="card">
                <div class="card-header title-card">
                    <h1>Contenu du panier</h1>
                </div>
                <div class="card-body content-card ">
                    <p>Le panier est vide.</p>
                    <a href="/" class="btn button-account">Continuer les achats</a>
                </div>
            </div>
        {% else %}

            <!-- Si le panier est rempli, on affiche les informations au client -->
            <div class="card mb-4">
                <div class="card-header title-card">
                    <h1>Contenu du panier</h1>
                </div>
                <div class="card-body content-card basket-product text-white">
                    {% for product in products %}

                    {% set thumb = product.images|first %}
                    <div class="row">
                        <div class="col-md-2">
                            <a href="{{ path('product_show', {'slug': product.slug}) }}">
                                <img src="/img/upload/{{ thumb.name }}" alt="{{ thumb.description }}"
                                     class="basket-product__img img img-fluid">
                            </a>
                        </div>
                        <div class="col-md-2">
                            <p>Produit</p><br/>
                            <span class="basket-product__name">
                                {{ product.name }}
                            </span>
                        </div>
                        <div class="col-md-2">
                            <p>Quantité</p><br/>
                            <input class="basket-product__quantity form-control" type="number" name="quantity"
                                   data-target-id="{{ product.id }}" min="1" value="{{ product.quantity }}">
                        </div>
                        <div class="col-md-2">
                            <p>Prix</p><br/>
                            <span class="basket-product__price" data-target-id="{{ product.id }}">
                                {{ product.calcTotalPrice }} €
                            </span>
                        </div>
                        <div class="col-md-2">
                            <p>Supprimer</p><br/>
                            <a href="/basket/remove/{{ product.id }}" class="basket-product__remove btn"
                               title="Supprimer">
                                <i class="far fa-trash-alt icon-client-style"></i>
                            </a>
                        </div>
                        <div class="col-md-2 basket-checkout">
                            <p>Reste à régler</p><br/>
                            <p class="basket-checkout__total">
                                Sous-total: <span class="basket-checkout__total-price">{{ totalPrice }}</span> €
                            </p>
                        </div>
                        {% endfor %}

                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ path('checkout_address') }}" class="btn basket-checkout__order button-account">Commander</a>
                        {% else %}
                            <a href="{{ path('user_welcome', {'order': true }) }}"
                               class="btn basket-checkout__order button-account">Commander</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}