{% extends 'shop/layout.html.twig' %}
{% block title %}Lovin Sweet{% endblock title %}

{% block content %}

    <div id="background" class="carousel slide carousel-fade background" data-ride="carousel">
        <div id="text" class="col-md-12 text-center"></div>
        <!-- div vide pour texte qui apparait avec chaque slide
        dans carousel -->

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{{ asset('img/46.jpg') }}" alt="First slide">
            </div>
            <video class="video-fluid w-100" autoplay loop muted>
                <source src="{{ asset('video/Macaron.mp4') }}" type="video/mp4"/>
            </video>
        </div>
    </div>
    </div>

    <!-- SECTION PRESENTATION-->
    <div class="container-fluid" id="presentation-block">
    <section class="container-fluid" id="presentation-section-1">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <h2 class="">Qui sommes-nous?</h2>
                    <p>Les pâtisseries Lovin Sweet vous offre le meilleur des spécialités françaises. Elles perpétuent
                        la tradition des grands maîtres pâtissiers et vous émerveilleront par leur saveurs étonnantes.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A beatae consequatur, dolore dolores
                        est facilis illo iusto libero nemo nisi possimus provident quaerat quia recusandae sunt tempora
                        tempore unde vel? Aut culpa distinctio nesciunt recusandae repellat, repellendus soluta tenetur
                        voluptatem.
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <img src="{{ asset('img/47.jpg') }}" class="img-fluid">
                </div>
                <div class="col-md-3 text-center">
                    <img src="{{ asset('img/48.jpg') }}" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <!-- Présentation section 2 -->

    <section class="container-fluid" id="presentation-section-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">Derniers produits</h2>
                </div>
            </div>
            <div class="row">
                {% for product in latest_products %}
                    <div class="col-md-4" id="block1">
                        {% set thumb = product.images|first %}
                        <a href="/product/{{ product.slug }}">
					        <span class="overlay-container">
					          <img src="/img/upload/{{ thumb.name }}" alt="{{ thumb.description }}"
                                   class="product-card__image img img-fluid">
					          <span class="overlay-background">
					            <span class="see-more">
					              <span class="see-more-btn">
					              	<h3>{{ product.name }}</h3>
					              	<p class="last-description"> {{ product.description }}
					              	</p>
					                <span class="hidden">
					                	Voir plus
					                </span>
					              </span>
					            </span>
					          </span>
                            </span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


    <!-- Présentation section 3 -->
    <section class="container-fluid" id="presentation-section-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-fluid" src="{{ asset('img/52.jpg') }}">
                </div>
                <div class="col-md-6 block_3">
                    <h2>La beauté des gestes</h2>
                    <p>Il faut tout le savoir-faire pour créer des recettes gourmandes. Chaque geste compte. Un sens
                        constant du détail, une passion pour les bons produits et le plaisir de créer des chocolats de
                        caractère.</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores blanditiis cumque,
                        necessitatibus nesciunt numquam quia quod rem repellat voluptate? Alias doloribus dolorum enim,
                        eveniet facilis laboriosam laudantium necessitatibus nobis nulla officiis perferendis porro
                        praesentium quaerat quod vel. Maiores, voluptate!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Présentation section 8 -->
    <section class="container-fluid" id="presentation-section-8">
        <div class="container">
            <div class="col-md-12 text-center">
                <h2>Tous nos produits</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ path('allProduct_show') }}">
                        <span class="overlay-container-2">
                            <img src="{{ asset('img/69.jpg') }}" alt="">
                            <span class="overlay-background-2">
                                <span class="see-more">
                                  <span class="see-more-btn">
                                    <h3>
                                        Voir plus
                                    </h3>
                                  </span>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Présentation section 4 -->
    <section class="container-fluid" id="presentation-section-4">
        <div class="container">
            <div class="col-md-12 text-center">
                <h2>Le savoir-faire Lovin Sweet</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img class="img-fluid" src="{{ asset('img/62.jpg') }}" id="img_16">
                </div>
                <div class="video col-md-6 ">
                    <a href="https://www.youtube.com/watch?v=JolwVF68L6k" class="html5lightbox">
                        <img class="img-fluid" src="{{ asset('img/19.jpg') }}" id="img_19">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid" id="presentation-section-9">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">Nos derniers ateliers</h2>
                </div>
            </div>
            <div class="row">
                {% for atelier in latest_ateliers %}
                    <div class="col-md-4" id="block1">
                        <a href="/ateliersweet/{{ atelier.slug }}">
					        <span class="overlay-container">
                                    {% set thumb = atelier.imagess | first %}
					           <img src="/imgs/upload/{{ thumb.name }}" alt="{{ thumb.description }}"
                                    class="product-card__image img img-fluid">
					          <span class="overlay-background">
					            <span class="see-more">
					              <span class="see-more-btn">
					              	<h3>{{ atelier.name }}</h3>
					              	<p>{{ atelier.description }}</p>
					                <span class="hidden">
					                	Voir plus
					                </span>
					              </span>
					            </span>
					          </span>
                            </span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="container-fluid mb-5" id="presentation-section-7">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Tous nos ateliers</h2>
            </div>
        </div>
        <div class="col-md-12" id="block1">
            <a href="{{ path('allAteliers') }}">
                <span class="overlay-container">
                  <img class="img-fluid" src="{{ asset('img/68.jpg') }}" id="img_68">
                  <span class="overlay-background">
                    <span class="see-more">
                      <span class="see-more-btn">
                        <h3>Nos ateliers</h3>
                        <p id="description-ateliers">Des ateliers pour tout le monde</p>
                        <span class="hidden">
                            Découvrir
                        </span>
                      </span>
                    </span>
                  </span>
                </span>
            </a>
        </div>
    </section>
{% endblock %}