{% extends 'shop/layout.html.twig' %}

{% block breadcrumb %}
<div >
    <div class="container">
        <nav>
                    <a href="{{ path('index') }}">Accueil</a>
               <div>{{ product.name }}</div>
        </nav>
    </div>
</div>
{% endblock breadcrumb %}

{% block content %}
    <div class="container">
        <div class="row">
    <div class="col-md-4">
        {% set cover = product.images|first %}
        <div class="image-container">
            <img src="/img/upload/{{ cover.name }}" alt="{{ cover.description }}" class="img img-fluid product-single__image">
        </div>

        {% if product.images.count > 1 %}
            <div class="">
                {% for image in product.images[1:] %}
                    <div class="mr-2 image-container w-25">
                        <img src="/img/upload/{{ image.name }}" alt="{{ image.description }}" class="img img-fluid product-single__image">
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="col-md-8">
        <header class="mb-4">
            <h1 class="product-single__heading">{{ product.name }}  - {{ product.stock }} pièces</h1>
        </header>

        <div class="basket-add mb-4">

        </div>
        <p>
            {{ product.description }}
        </p>

        <p>
            Poids: {{ product.weight }} gr
        </p>


            <p class="product-single__price">{{ product.price }} € T.T.C.</p>
            {% if product.hasStock %}
                <a href="/basket/add/{{ product.id }}" class="btn btn-primary">
                    <i class="fas fa-shopping-cart mr-2"></i>
                    Ajouter au panier
                </a>
            {% else %}
                <a href="#" class="btn btn-secondary disabled">Rupture de stock</a>
            {% endif %}


    </div>
        </div>
    </div>





{% endblock %}

{% block javascripts %}
    <script src="/js/productSlider.js"></script>
{% endblock javascripts %}
