{% extends 'shop/layout.html.twig' %}

{% block breadcrumb %}
<div >
    <div class="container">
        <nav>
                    <a href="{{ path('index') }}">Accueil</a>
               <div>{{ product.name }}</div>
        </nav>
    </div>
</div>
{% endblock breadcrumb %}

{% block content %}
    <div class="container" id="single-product-block">
        <div class="row">

            <div class="col-md-4">

                    <h2 class="product-single__heading text-center">{{ product.name }} </h2>
                <div >
                    <div class="text-center">
                    <p>
                        Poids: {{ product.weight }} gr
                    </p>

                        <a class="text-center toggle" href="#">Description</a>
                    </div>
                        <p class="toggle-description">
                            {{ product.description }}
                        </p>

                </div>







            </div>
    <div class="col-md-4">
        {% set cover = product.images|first %}
        <div class="">
            <img src="/img/upload/{{ cover.name }}" alt="{{ cover.description }}" class="img img-fluid product-single__image">
        </div>

        {% if product.images.count > 1 %}

                {% for image in product.images[1:] %}
                    <div class="mr-2 image-container w-25">
                        <img src="/img/upload/{{ image.name }}" alt="{{ image.description }}" class="img img-fluid product-single__image">
                    </div>
                {% endfor %}

        {% endif %}
    </div>

    <div class="col-md-4">
        <p>Quantité: {{ product.stock }} pièces </p>
        <p class="product-single__price"><strong> {{ product.price }} € T.T.C.</strong></p>
        {% if product.hasStock %}
            <a id="ajouter" href="/basket/add/{{ product.id }}" class="btn btn-primary">
                <i class="fas fa-shopping-cart mr-2"></i>
                Ajouter au panier
            </a>
        {% else %}
            <a href="#" class="btn btn-secondary disabled">Rupture de stock</a>
        {% endif %}


    </div>


        </div>
    </div>





{% endblock %}

{% block javascripts %}
    <script src="/js/productSlider.js"></script>
{% endblock javascripts %}
