{% extends 'shop/layout.html.twig' %}
{% block title %}Mon compte{% endblock title %}

{% block content %}

 <div class="container client-info">
     <div class="card password-modify">
         <div class="card-header title-card">
            <h1>Modifier mon mot de passe</h1>
         </div>

         <div class="card-body content-card content-pwrd">
            {{ form_start(form) }}
            {{ form_row(form.oldPassword, {
                'label': 'Mot de passe actuel',
            }) }}
            {{ form_row(form.newPassword.first, {
                'label': 'Nouveau mot de passe',
            }) }}
            {{ form_row(form.newPassword.second, {
                'label': 'Répéter mot de passe',
            }) }}

            <input class="btn btn-center button-account" type="submit" value="Valider">
            {{ form_end(form) }}
         </div>
    </div>
 </div>

{% endblock %}
