{% if error %}
    <div class="invalid-feedback d-block">
        <span class="initialism form-error-icon badge badge-danger">Erreur</span>
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}


{% if app.session.flashbag.peekAll is not empty %}

    <div class="flash container mt-2" id="flash">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                    <span class="font-weight-bold">{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}

        {% endfor %}
    </div>

{% endif %}


{{ form_start(loginForm) }}
    {{ form_row(loginForm.username, {
        'full_name': '_email',
        'value': lastUserName,
        'label': 'E-mail',
    }) }}
    {{ form_row(loginForm.plainPassword, {
        'full_name': '_password',
        'label': 'Mot de passe',
    }) }}
   
    {% if order == true %}
        <input type="hidden" name="_target_path" value="{{ path('checkout_address') }}" />
    {% endif %}
  
    <input type="submit" value="Connexion" class="btn btn-primary button-form">
{{ form_end(loginForm) }}
