{% extends 'shop/layout.html.twig' %}

{% block page_title %}
    Commandes
{% endblock %}

{% block content %}

<div class="container">
    <h1 class="text-center welcome">Suivi des commandes</h1>

<div class="card card-client client-section">
    <div class="card-header title-card">
        <h1>Mes commandes</h1>
    </div>
    <div class="card-body content-card">
        {% if orders is empty %}
            <p>Pas de commande pour l'instant.</p>
        {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Statut</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{{ path('user_order', { 'id': order.id }) }}" class="text-white">{{ order.id }}</a>
                            </td>
                            <td>
                                {{ order.dateCreated|date() }}
                            </td>
                            <td>
                                <div class="badge badge-primary p-2">
                                    {{ order.status }}
                                </div>
                            </td>
                            <td>
                                {{ order.transaction.total }} €
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
</div>

{% endblock %}