<nav class="navbar navbar-expand-lg navbar-dark" id="menu-lovin">
    <a class="navbar-brand" href="{{ path('index') }}" id="logo">Lovin Sweet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('index') }}">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('category') }}">Galerie</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Ateliers</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('blog') }}">Blog</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('contact') }}">Contact</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ...
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="navbar-dropdown">
                {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted ('ROLE_USER') %}
                    <!-- Si l'utilisateur est connecté et dispose d'un compte -->
                    <a class="dropdown-item" href="{{ path('user_account') }}">
                        Mon compte</a>
                    <a class="dropdown-item" href="{{ path('user_orders') }}">Suivi des commandes</a>
                    <!-- Si l'utilisateur est nouveau -->
                {% else %}
                    <a class="dropdown-item" href={{ path('user_welcome') }}>Inscription</a>
                    <a class="dropdown-item" href={{ path('user_welcome') }}>Connexion</a>
                    <a class="dropdown-item" href=#>Qui-sommes-nous?</a>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') %}
                    <a class="dropdown-item" href="{{ path('admin_index') }}">Gestion de la boutique</a>
                    <a class="dropdown-item href="{{ path('admin_order-index') }}">Gestion des commandes</a>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="dropdown-item" href="{{ path('security_logout' )}}">Déconnexion</a>
                {% endif %}
            </div>
    </ul>
    </div>
    <div class="row">
        <div class="col-md-12" id="basket-user">
            <a href="{{ path('basket_show')}}"><i class="fas fa-shopping-cart icon-style"></i>
                <div class="basket-count d-flex justify-content-center align-items-center">
                            <span class="text-white">
                                {{ render(controller('App\\Controller\\BasketController::productCount')) }}
                            </span>
                </div>
            </a>
        </div>
    </div>
</nav>
